/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CSS */

body{
    font-family: sans-serif;
}

/* HEADER */
header{
    padding: 16px 32px;
    color: white;
}

/* MAIN */

 main{
    
 }

.container{
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
}

.big-card{
    width: 100%;
    min-height: 600px;
    border-radius: 20px;
    margin: 16px 0;
}

.small-card{
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    margin: 16px 0;
}

/* FOOTER */
.footer-info{
    margin: 0 auto;
    width: 80%;
    color: white;
}

/* MEDIA QUERY RESPONSIVE */
