/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CSS */

body{
    font-family: sans-serif;
}

/* MOBILE FIRST */

/* HEADER */
header nav{
    margin: 0 auto;
    width: 400px;
    color: white;
}

/* MAIN */

 main{
    
 }

.container{
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.big-card{
    width: 100%;
    min-height: 600px;
    border-radius: 20px;
    margin: 16px 0;
}

.small-card{
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    margin: 16px 0;
}

/* FOOTER */
.footer-info{
    margin: 0 auto;
    width: 80%;
    color: white;
}

/* MEDIA QUERY RESPONSIVE */

/*TABLET*/
@media screen and (min-width:768px) {
    .container {
        background-color: rgb(255, 136, 0);
        width:700px;
    }

    /* CARDS */

    #cards .big-card{
        width: 65%;
    }

    #cards .small-card{
        width: 30%;
    }

    /* WORKWITHUS */
    #work-with-us .small-card{
        width: 320px;
    }

    /* ABOUT US */
    #about-us .big-card{
        width: 65%;
    }

    #about-us .small-card{
        width: 30%;
    }

}
/* DESKTOP */
@media screen and (min-width:992px) {
    .container {
        background-color: rgb(230, 208, 14);
        width: 900px;
    }

    #strategic-plan .big-card{
        width: 65%;
    }

    #strategic-plan .small-card{
        width: 30%;
    }

    #work-with-us .small-card{
        width: 280px;
    }
}