/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CSS */

body{
    font-family: sans-serif;
}


a.button{
    text-decoration: none;
    font-size: 1.5em;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    width: 80%;
    color: white;
}

.btn-lilla{
    background-color: #9792E4;
}

.btn-blue{
    background-color: blue;
}

/* MOBILE FIRST */

/* HEADER */
header nav{
    margin: 0 auto;
    width: 400px;
    color: white;
}

header img{
    width: 100px;
}

/* MAIN */

 main{
    
 }
/* CONTAINER */
.container{
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.big-card{
    width: 100%;
    border-radius: 20px;
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
    line-height: 2em;

}

.small-card{
    width: 100%;
    border-radius: 20px;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 32px;
    line-height: 2em;
    padding: 32px 16px;
}


img{
    width: 100%;
}

/* CARDS */

#cards h2{
    color: #0084FD;
    font-size: 2em;
}

#cards p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(99, 99, 99);
}

#cards .small-card i{
    color: #0084FD;

}

/* STRATEGIC PLAN */

#strategic-plan .big-card{
    color: white;
}

#strategic-plan .big-card h2{
    font-size: 2.5em;
}

#strategic-plan .small-card a{
    color: black;
    border-radius: 50%;
    width: 2em;
}

/* TESTIMONIALS */
#testimonials .container{
    line-height: 2em;
    text-align: center;
}

#testimonials h4, p{
    font-size: 1.2em;
    font-weight: 300;
}

#testimonials h3{
    font-size: 2em;
    color: #9792E4;
}

#testimonials img{
    border-radius: 50%;
}

#testimonials .small-card{
    color: white;
}

/* WORK WITH US SECTION */
#work-with-us{
    text-align: center;
}


#work-with-us > h1{
    font-size: 2.5em;
    color: white;
}

#work-with-us .small-card{
    align-items:start;
    text-align: left;
    padding: 32px;
}

#work-with-us .small-card h1{
    font-size: 3em;
    color: #9792E4;
}

#work-with-us .small-card h3{
    font-size: 2em;
    color: #9792E4;
}

#about-us h1{
    color: #9792E4;
    font-size: 2em;
}

#about-us h3{
    color: #9792E4;
    font-size: 1.5em;
}

#about-us a{
    padding: 10px;

}

#about-us img{
    border-radius: 50%;
}

/* GET STARTED */
#get-started .big-card{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
}

#get-started h2{
    font-size: 1.5em;
}

#get-started h1{
    font-size: 3em;
    color: gold;
}

#get-started p{
    font-size: 1em;

}

#get-started a{
    background-color: white;
    color: #9792E4;

}

/* FOOTER */
.footer-info{
    margin: 0 auto;
    width: 80%;
    color: white;
}

/* MEDIA QUERY RESPONSIVE */

/*TABLET*/
@media screen and (min-width:768px) {
    .container {
        background-color: rgb(255, 136, 0);
        width:700px;
    }

    /* CARDS */

    #cards .big-card{
        width: 65%;
    }

    #cards .small-card{
        width: 30%;
    }

    /* WORKWITHUS */
    #work-with-us .small-card{
        width: 320px;
    }

    /* ABOUT US */
    #about-us .big-card{
        width: 65%;
    }

    #about-us .small-card{
        width: 30%;
    }

    /* TESTIMONIAL */
    #testimonials .container{
        
    }

    #testimonials .small-card{
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
    }
}
/* DESKTOP */
@media screen and (min-width:992px) {
    .container {
        background-color: rgb(230, 208, 14);
        width: 900px;
    }

    #strategic-plan .big-card{
        width: 65%;
    }

    #strategic-plan .small-card{
        width: 30%;
    }

    #work-with-us .small-card{
        width: 280px;
    }
}